/*
Styles for the piplist Textual app */

/* App styles */

Screen {
    background: $primary-background;
}

Header {
    background: $primary;
    color: $text-muted;
}

Footer {
    background: $secondary;
    color: $text-muted;
}

/*
Containers
*/

#appContainer {
    width: 100%;
    height: 100%;
    padding: 1;
    background: $surface;
}

#displayContainer {
    width: 100%;
    height: 8fr;
    padding: 0;
    background: $surface;
}

/* List styles */

#packageList {
    background: $surface-darken-1;
    width: 2fr;
    height: 100%;
    margin-right: 1;
}

#packageList .datatable--header {
    background: $primary;
}

#packageList .datatable--header-hover {
    background: $primary;
    color: $text;
}

#display {
    width: 3fr;
    height: 100%;
    padding: 1;
    overflow-y: hidden;
}

#status {
    width: 100%;
    height: 1;
    background: black;
    color: $text;
    overflow-y: hidden;
    dock: top;
}

/* Display styles */

